{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About FruZzZ Beta{% endblock %}</h1>
{% endblock %}

{% block content %}
<section>
<div class="about">
    <p>With this app you can</p>
    <ul>
        <li>track which caregiver put the munchkin to sleep</li>
        <li>record the time when the munchkin went to sleep</li>
        <li>observe your munchkin's sleep pattern</li>
    </ul>
    <br>
    <p>Features to soon be added</p>
    <ul>
      <li>Account management</li>
      <li>Nap vs sleep differentiation</li>
      <li>Support for multiple munchkins</li>
      <li>Bedtime forecasting once there are enough observations</li>
    </ul>
    <br>
    <p><a class='about' href="{{ url_for('auth.register') }}">Registration</a> is solely to keep track of the munchkin's sleep data. Data are not shared with non-app parties nor sold.</p>
</div>
</section>


{% endblock %}




