
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}


<form method="post">
  <div class="login">
    <!--<label class='login' for="username">Username</label>-->
    <input class='login'  name="username" id="username" placeholder="Munchkin's name" required>
  </div>
  <div class="login">
    <!--<label class='login' for="username">Username</label>-->
    <input class='login'  name="email" id="email" placeholder="Email" required>
  </div>
  <div class="login">
    <!--<label class='login'  for="password">Password</label>-->
    <input class='login'  type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <div class="login">
    <!--<label class='login'  for="password">Password</label>-->
    <input class='login'  type="password" name="repassword" id="repassword" placeholder="Confirm Password" required>
  </div>
  <div class="login">
    <input class='button-64'  type="submit" value="Register">
  </div>
</form>

{% endblock %}