<!doctype html>
<title>{% block title %}{% endblock %}Sleep Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>

  <a class="login" href="{{url_for('about.about')}}">About</a>

  {% if g.user %}
  <!--<h1><a class="nav" href="{{ url_for('index')}}">{{ g.user['username'] }}'s Sleep Tracker</a></h1>-->
  <h1><a class="nav" href="{{ url_for('index')}}">FruZzZ</a></h1>
  {% else %}
  <h1><a class="nav" href="{{ url_for('auth.login') }}">FruZzZ</a></h1>
  {% endif %}
  <ul class="nav">
    <!--<li><a class="login" href="{{url_for('about.about')}}">About</a></li>-->
    {% if g.user %}
      <!--<li><span class="user">{{ g.user['username'] }}</span>-->
      <li class='login'><a class='login' href="{{ url_for('auth.logout') }}">Log Out</a>
        
      <!--<li><a class='login' href="{{url_for('sleepdash')}}">Sleepdash</a></li> -->
       
    {% else %}
      <li class='login'><a class='login' href="{{ url_for('auth.register') }}">Register</a>
      <li class='login'><a class='login' href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
  {% if g.user %}

  {% endif %} 
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block footer%}
<hr>
<section class="footer">
  <ul class="footer">
    <li class="footer">In case you encounter errors or have suggestions, please contact the author via <a class="about" href="burinski@usc.edu">e-mail</a></li>
    <li class="footer">&copy; 2024 Gene Burinskiy </li>
</ul>
</section>
{% endblock %}


