{% extends 'base.html' %}

{% block header %}
<h1>Who put {{ g.user['username'] }} to sleep?</h1>
{% endblock %}

{% block content %}
    {% if g.user %}
        {% for parent in parents %}
            <form method="post" id="username" action="confirm">
                <button class='button-64' type="submit" value="{{ parent['parent']}}" name="parent"><span>{{ parent['parent']}}</span></button>
            </form>
            
        {% endfor %}
        <hr>
            <form action="{{ url_for('sleepdash.sleepdash') }}">
            <button class='button-64' type="submit"><span>Sleep Dashboard</span></button>
        </form>
    {% endif %}

{% endblock %}

