{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Confirm Input Values{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="mkrecord">
    <label for="parent">Parent</label>
    <input name="parent" id="parent" value="{{ formvals['parent'] }}" disabled="disabled">
    <input name="parentid" id="parentid" value="{{ formvals['parentid'] }}" type="hidden">
    <label for="date">Date</label>
    <input name="date" id="sleepdate" value="{{ formvals['sleepdate'] }}" required>
    <label for="time">Time</label>
    <input name="time" id="sleeptime" value="{{ formvals['sleeptime'] }}" required>
    <input type="submit" value="Confirm">
  </form>
{% endblock %}