<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  {% if g.user %}
  <h1><a class="nav" href="{{ url_for('index')}}">{{ g.user['username'] }}'s Sleep Tracker</a></h1>
  {% endif %}
  <ul>
    {% if g.user %}
      <!--<li><span class="user">{{ g.user['username'] }}</span>-->
      <li><a class='login' href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a class='login' href="{{ url_for('auth.register') }}">Register</a>
      <li><a class='login' href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>