
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}


{% block content %}
  <form method="post">
    <!-- this is separate and goes to the parent db-->
    <div class="group">
      <label class='label' for="parent1">Caregiver 1</label>
      <input class='input' name="parent1" id="parent1" required>
    </div>
    <div class="group">
      <label class='label' for="parent2">Caregiver 2</label>
      <input class='input' name="parent2" id="parent2" required>
    </div>  
    <!-- submit the form-->
    <div class="group">
      <input class="button-64" type="submit" value="Register">
    </div>
  </form>
{% endblock %}